.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #46abd6;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(226, 237, 18, 0.1);
  margin-top: 150px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.completed span {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.add button {
  background: none;
  border: none;
  font-size: 2.0rem;
  color: #3fe283;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.add button:hover {
  color: #27ae60;
}

.add button:focus {
  outline: none;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
}

button {
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #2980b9;
}

button:active {
  background-color: #2479af;
}

  .todo-list li {
    background-color: grey; /* Default background color for tasks */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  
  .todo-list li.completed {
    background-color: rgb(96, 198, 96); /* Background color for completed tasks */
  }
  .edit-button {
    margin-left: 10px;
  }